<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>World bank</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<h1>World Bank data</h1>
<div id="container1" style="border:1px dotted blue; width: 1500px; height: 775px;
      position: relative; margin-left: 150px; margin-top: 50px;">
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="http://datamaps.github.io/scripts/0.4.4/datamaps.world.min.js"></script>

<script>
    // get list data from Flask
    var all_projects_cost = {{ all_projects_cost|safe }};

    // example data from server

    var series = {{ data_list_with_all_money|safe }};

    // Datamaps expect data in format:
    // { "USA": { "fillColor": "#42a844", numberOfWhatever: 75},
    //   "FRA": { "fillColor": "#8dc386", numberOfWhatever: 43 } }
    var dataset = {};

    // We need to colorize every country based on "numberOfWhatever"
    // colors should be uniq for every value.
    // For this purpose we create palette(using min/max series-value)
    var onlyValues = series.map(function (obj) {
        return obj[1];
    });
    var minValue = Math.min.apply(null, onlyValues),
        maxValue = Math.max.apply(null, onlyValues);

    // create color palette function
    // color can be whatever you wish
    var paletteScale = d3.scale.linear()
        .domain([minValue, maxValue])
        .range(["#EFEFFF", "#02386F"]); // blue color

    // fill dataset in appropriate format
    series.forEach(function (item) { //
        // item example value ["USA", 70]
        var iso = item[0],
            value = item[1];
        dataset[iso] = {numberOfThings: value, fillColor: paletteScale(value)};
    });


    // render map
    new Datamap({
        element: document.getElementById('container1'),
        projection: 'mercator', // big world map
        // countries don't listed in dataset will be painted with this color
        fills: {defaultFill: '#F5F5F5'},
        data: dataset,
        geographyConfig: {
            borderColor: '#DEDEDE',
            highlightBorderWidth: 2,
            // don't change color on mouse hover
            highlightFillColor: function (geo) {
                return geo['fillColor'] || '#F5F5F5';
            },
            // only change border
            highlightBorderColor: '#B7B7B7',
            // show desired information in tooltip
            popupTemplate: function (geo, data) {
                // don't show tooltip if country don't present in dataset
                if (!data) {
                    return;
                }
                // tooltip content
                var data_project_cost_list = [];
                var data_project_cost_object = all_projects_cost[geo.id]["project_name"];
                for (var i = 0; i < data_project_cost_object.length; i++) {
                    console.log(JSON.stringify(data_project_cost_object[i]));
                    var tohymldata = JSON.stringify(data_project_cost_object[i]).replace('{', '');
                    tohymldata = tohymldata.replace('}', '<br>');
                    data_project_cost_list.push(tohymldata)
                }
                return ['<div class="hoverinfo">',
                    '<strong>', geo.properties.name, '</strong>',
                    '<br>The sum of all projects: <strong>', data.numberOfThings, '</strong>',
                    '<br>Project name and lend project cost: <strong>', data_project_cost_list.join('\n'), '</strong>',
                    '</div>'].join('');
            }
        }
    });
</script>
</body>
</html>
